.image {
  max-width: 500px;
  max-height: 500px;
}

.movie-title {
  color: #210030;
}

.size {
  font-size: 25px;
}

.overview {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
